/* CUSTOM OHIF SCROLLBAR */
.ohif-scrollbar {
  scrollbar-color: #173239 transparent;
  overflow-y: auto;
}

.ohif-scrollbar-stable-gutter {
  scrollbar-gutter: stable;
}

.study-min-height {
  min-height: 450px;
}

.ohif-scrollbar:hover {
  overflow-y: auto;
}

.ohif-scrollbar::-webkit-scrollbar {
  scrollbar-width: thin;
}

.ohif-scrollbar::-webkit-scrollbar-track {
  @apply rounded;
}

.ohif-scrollbar::-webkit-scrollbar-thumb {
  @apply rounded;
  @apply bg-secondary-dark;
  background-color: #041c4a;
}

.ohif-scrollbar::-webkit-scrollbar-thumb:window-inactive {
  @apply bg-secondary-dark;
  background-color: #041c4a;
}

/* INVISIBLE SCROLLBAR */
.invisible-scrollbar {
  scrollbar-width: none;
}

.invisible-scrollbar::-webkit-scrollbar {
  @apply hidden;
}

.invisible-scrollbar::-webkit-scrollbar-track {
  @apply hidden;
}

.invisible-scrollbar::-webkit-scrollbar-thumb {
  @apply hidden;
}

.invisible-scrollbar::-webkit-scrollbar-thumb:window-inactive {
  @apply hidden;
}

.img_section {
  height: calc(100vh - 50px);
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.pulse {
  animation: pulse 0.5s infinite;
}

@media (max-width: 767px) {
  .middle_img {
    visibility: hidden;
    height: 10px;
  }
  .left_side {
    max-width: unset !important;
    width: 100% !important;
    margin: unset !important;
    overflow: auto;
  }

  .img_section {
    height: calc(100vh - 230px);
    margin-top: 50px;
  }
}

.jodit-wysiwyg * {
  color: #000 !important;
}
